@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rectangle {
    height: 100px;
}

.person-image {
    border: 30px solid white;
}

.person-image:first-child {
    translate: 0 -30px;
}

.row .divider {
    width: 100vw;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
    position: relative;
}

.row .divider::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    border: 20px solid transparent;
    border-color: transparent transparent black transparent;
}

i {
    width: fit-content;
}